### IntelliJ IDEA ###
*.iml
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Visual Studio Code ###
.vscode/

### Gradle ###
.gradle/
/build/

### Java ###
*.class
*.jar
*.war
*.ear

### Logs and temporary files ###
*.log
*.tmp
*.swp

### Mac OS ###
.DS_Store
.AppleDouble
.LSOverride

### Windows ###
Thumbs.db
ehthumbs.db
